body {
    background-color: #50ceff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}



.green {
    background-color: #50ff50;
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

}
.grid_item {
    background-color: rgb(77, 168, 199);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #53bfdc;
    /* width: 30vw;*/
    height: 30vh;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: #000000 5px 15px 10px;
    transition: all 0.5s ease; /* Add transition for smooth animation */
}

.grid_item.active {
    background-color: red;
    height: 50vh; /* Adjust as needed */
    width: 50vw; /* Adjust as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    margin: 25px;
}



    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
      }
    
      .image-container img {
        width: 100%;
        height: 100%;
      }
    
      .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(34, 34, 34, 0.7);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        width: 80%;
        opacity: 0; /* Initially hidden */
        transition: opacity 0.3s ease; /* Smooth transition */

    }
    
    .image-container:hover .overlay-text {
        opacity: 1; /* Show on hover */
    }



/* Media query for screens narrower than 450px */
@media (max-width: 650px) {
    .grid_container {
        grid-template-columns: 1fr; /* Single column */
        grid-template-rows: repeat(9, auto); /* Adjust rows to fit content */
    }
}


/* Media query for screens narrower than 720px */
/* @media (max-width: 720px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(5, auto); 
    }
} */